#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.memory-container {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  cursor: pointer;
}

.memory-container li {
border: 1px solid white;
width: calc(25% - 2px);
}
